<!-- user-selector.component.html -->
<div>
    <div class="selected-users">
        <div *ngFor="let user of selectedUsers" class="selected-user-card">
            <div class="user-info">
                <span class="user-name">{{ user.username }}</span>
            </div>
            <button class="remove-button" (click)="removeUser(user)">X</button>
        </div>
    </div>
    
    <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Buscar usuarios..." />

    <div class="user-list">
        <div *ngFor="let user of users" class="user-item">
            <label>
                <input type="checkbox" [checked]="selectedUsers.includes(user)" (change)="toggleUserSelection(user)" />
                {{ user.username }}
            </label>
        </div>
    </div>

    <button *ngIf="!loading && hasMoreUsers" (click)="loadMoreUsers()">Cargar más</button>
    <div *ngIf="loading" class="loading">Cargando más usuarios...</div> <!-- Indicador de carga -->
</div>