<form [formGroup]="elementForm" (ngSubmit)="submitForm()" (reset)="resetForm()" class="form-container">
    <!-- Nueva fila para alinear 'Name' y 'Attached' -->
    <div class="form-row">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" formControlName="name" />
            <ul class="text-danger list-unstyled mt-1">
                <li *validationErrors="elementForm; control:'name'; let err">{{ err }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label>Attached</label>
            <select formControlName="attached" class="form-control">
                <option value="" selected>No attachment</option>
                <option *ngFor="let contactGroup of contactGroups" [value]="contactGroup.id">{{ contactGroup.name }}
                </option>
            </select>
            <ul class="text-danger list-unstyled mt-1">
                <li *validationErrors="elementForm; control:'attached'; let err">{{ err }}</li>
            </ul>
        </div>
    </div>

    <div class="form-group user-selector">
        <label>Belonging users</label>
        <multiple-selector *ngIf="selectedUsersLoaded || !editing" [editing]="editing"
            [displayProperty]="'username'" [searchFunc]="fetchUsers.bind(this)"
            [selectedItems]="initialSelectedUsers" (selectedItemsChange)="onUsersSelected($event)">
        </multiple-selector>
    </div>



    <div class="form-actions">
        <button mat-raised-button color="warn" type="reset" routerLink="/user/visualization-groups" class="btn-large">
            <mat-icon>arrow_back</mat-icon>
            Cancel
        </button>

        <button mat-raised-button color="primary" type="submit" [disabled]="elementForm.invalid" class="btn-large">
            <mat-icon>save</mat-icon>
            {{ editing ? "Save" : "Create" }}
        </button>
    </div>
</form>