<div class="upload-media-container card p-4">
    <form [formGroup]="elementForm" (ngSubmit)="submitForm()" (reset)="resetForm()" class="form-container">
        <div class="form-group mb-3">
            <label for="media-upload" class="form-label">Sube una imagen o video:</label>
            <input type="file" id="media-upload" accept="image/*,video/*" (change)="onFileSelected($event)"
                class="form-control" />
        </div>

        <!-- Vista previa de imagen o video -->
        <div *ngIf="mediaPreview" class="preview-container mb-3">
            <img *ngIf="isImage" [src]="mediaPreview" alt="Vista previa de imagen" class="img-fluid rounded" />
            <video *ngIf="!isImage" [src]="mediaPreview" controls class="img-fluid rounded"></video>
        </div>

        <div class="form-group mb-3">
            <label for="description">Description</label>
            <textarea matInput [(ngModel)]="description" name="description" rows="3"
                placeholder="Agrega una descripción aquí..." class="form-control"></textarea>
        </div>


        <!-- Combo de visibilidad -->
        <div class="form-group mb-3">
            <label for="visibility">Visibilidad:</label>
            <select id="visibility" formControlName="visibility" class="form-select">
                <option *ngFor="let option of visibilityOptions" [value]="option">
                    {{ option }}
                </option>
            </select>
        </div>

        <!-- Combo de selección múltiple que se habilita si la visibilidad es "protected" -->
        <div class="form-group mb-3" *ngIf="elementForm.get('visibility')?.value === 'protected'">
            <label for="protectedSelection">Selecciona opciones:</label>
            <ng-select id="protectedSelection" formControlName="protectedSelection" [items]="protectedOptions"
                [multiple]="true" [closeOnSelect]="false" placeholder="Selecciona opciones..." [searchable]="true"
                bindLabel="name" bindValue="id">
            </ng-select>
        </div>
    </form>
</div>