.keyword-input-container {
    display: flex;
    flex-direction: column;
  }
  
  .keywords {
    display: flex;
    flex-wrap: wrap;
  }
  
  input {
    margin-right: 8px; /* Margen entre el input y el botón */
  }

.badge-primary {
  background-color: #cc8039; 
  color: white; 
  margin: 2px;
}
  