<div class="app-container">
  <sidebar></sidebar> <!-- Menú lateral izquierdo -->

  <div class="content-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">

        </ul>

        <div class="navbar-item-group-right d-flex align-items-center ml-auto"> <!-- Elementos a la derecha -->
          <div class="search-container">
            <input class="form-control search-input" type="search" placeholder="Search..." aria-label="Search"
              [(ngModel)]="userSearchQuery" (input)="searchUser()">
            <div *ngIf="isSearchUserDropdownOpen" class="search-dropdown-menu">
              <div *ngFor="let user of userSearchResults; let i = index" class="search-dropdown-item">
                <a class="search-dropdown-link" [routerLink]="['/profile', user.username]">{{user.username}}</a>
              </div>

              <button class="search-dropdown-show-all-button">Mostrar todos los resultados</button>
            </div>
          </div>


          <div class="notification-icon" style="margin-left: 10px;">
            <a class="nav-link position-relative" [routerLink]="['/notifications/inbox']">
              <mat-icon class="notification-bell">notifications</mat-icon> <!-- Icono de campana -->
              <span class="badge bg-danger position-absolute top-0 start-100 translate-middle"
                *ngIf="unreadNotifications > 0">
                {{ unreadNotifications }}
              </span>
            </a>
          </div>



          <div class="dropdown" style="margin-left: 10px;">
            <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img [src]="profilePicUrl" alt="User Photo" class="user-photo" />
              <span class="username">&#64;{{user?.username}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">
                <mat-icon>option_1_icon</mat-icon> Option 1
              </a>
              <a class="dropdown-item" href="#">
                <mat-icon>option_2_icon</mat-icon> Option 2
              </a>
            </div>
          </div>

        </div>
      </div>
    </nav>
    <router-outlet></router-outlet> <!-- Aquí se renderizan los componentes de las rutas -->
  </div>
</div>