<div class="sidebar">
  <div class="app-title">MemeNow</div>
  <hr class="separator" />
  <ul class="sidebar-menu">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/" class="menu-item">
        <mat-icon>home</mat-icon> Home
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/explore" class="menu-item">
        <mat-icon>search</mat-icon> Explorar
      </a>
    </li>
    <li>
      <button routerLink="/meme/create" class="post-meme-button">
        <mat-icon>cloud_upload</mat-icon> Post Meme
      </button>
    </li>
  </ul>

  <hr class="separator" />
  <div class="sidebar-linkgroup-title">User features</div>
  <ul class="sidebar-menu">
    <li routerLinkActive="active">
      <a routerLink="/user/profile" class="menu-item">
        <mat-icon>account_circle</mat-icon> Profile
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/user/visualization-groups" class="menu-item">
        <mat-icon>visibility</mat-icon> Visualization Groups
      </a>
    </li>
  </ul>

  <hr class="separator" />
  <div class="sidebar-linkgroup-title">Admin Features</div>
  <ul class="sidebar-menu">
    <li routerLinkActive="active">
      <a routerLink="/admin/categories" class="menu-item">
        <mat-icon>category</mat-icon> Categories
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/admin/users" class="menu-item">
        <mat-icon>people</mat-icon> Users
      </a>
    </li>
  </ul>
</div>